<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <link rel="shortcut icon"
          href="https://media.istockphoto.com/id/1206990753/vector/the-database-is-an-icon-vector-isolated-contour-symbol-illustration.jpg?b=1&s=612x612&w=0&k=20&c=ZScEAW7aGZs2wH5p9EXb0Aqt1rG71WahDOgOrt9BCeE="
          type="image/x-icon">
    <title>LookUpForDBA</title>
    <style>
        body {
            background: url("https://pcvector.net/uploads/posts/2018-08/1533326959_low-poly-background-generator-min.png");
            height: 500px;

            background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            color: white;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg bg-primary bg-gradient">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home' %}">
            <img src="https://media.istockphoto.com/id/1206990753/vector/the-database-is-an-icon-vector-isolated-contour-symbol-illustration.jpg?b=1&s=612x612&w=0&k=20&c=ZScEAW7aGZs2wH5p9EXb0Aqt1rG71WahDOgOrt9BCeE="
                 width="60" height="60">
            LookUpForDBA
        </a>
    </div>
</nav>

<div class="container sidebar mt-5">
    <div class="row">
        <div class="list-group col-4 sticky-top">
            <a href="{% url 'demand' %}" style="text-decoration: none; color: black">
                <button type="button" class="list-group-item list-group-item-action">Востребованность</button>
            </a>
            <a href="{% url 'geography' %}" style="text-decoration: none; color: black">
                <button type="button" class="list-group-item list-group-item-action">География</button>
            </a>
            <a href="{% url 'skills' %}" style="text-decoration: none; color: black">
                <button type="button" class="list-group-item list-group-item-action">Навыки</button>
            </a>
            <a href="{% url 'lvacancies' %}" style="text-decoration: none; color: black">
                <button type="button" class="list-group-item list-group-item-action">Последние вакансии</button>
            </a>
        </div>
        <div class="col-8">
            <h1>Кто такой администратор баз данных?</h1>
            <p>
                <img src="https://edu.permaviat.ru/pluginfile.php/73575/course/overviewfiles/Data-Protection-01.jpg"
                     height="370" width="850" alt="">
            </p>
            <br>
            <p>
                Администратор базы данных (DBA, Database Administrator) обслуживает упорядоченный набор
                структурированной информации (базу данных, БД), которая, как правило, хранится в электронном виде в
                компьютерной системе.
                Это довольно узкая специализация, которая появляется при реальной потребности компании в обеспечении
                высокой доступности данных.
            </p>
            <div>
                <h1>Особенности профессии</h1>
                <p>
                    Администраторы БД занимаются серверными базами данных, в которых информация собрана с разных
                    компьютеров и может читаться на каждом из них. Наиболее известными системами подобного рода являются
                    Oracle и Microsoft SQL Server.
                </p>
                <br>
                <p>
                    Администратор базы данных ведает и вопросами ее безопасности. Он защищает систему от
                    несанкционированного доступа, управляя учетными записями, в которых содержатся сведения
                    пользователей для компьютерной системы (имя и пароль).
                </p>
                <p>
                    <img src="https://thumbs.dreamstime.com/b/%D1%80%D0%B0%D0%B2%D0%BD%D0%BE%D0%B2%D0%B5%D0%BB%D0%B8%D0%BA%D0%B8%D0%B9-%D1%80%D0%B0%D0%B1%D0%BE%D1%87%D0%B8%D0%B9-%D1%81%D1%82%D0%BE%D0%BB-%D1%81%D0%BE%D0%B5%D0%B4%D0%B8%D0%BD%D0%B5%D0%BD%D0%BD%D1%8B%D0%B9-%D1%81-%D1%81%D0%B5%D1%80%D0%B2%D0%B5%D1%80%D0%B0%D0%BC%D0%B8-%D0%B8-%D0%B1%D0%B0%D0%B7%D0%BE%D0%B9-%D0%B4%D0%B0%D0%BD%D0%BD%D1%8B%D1%85-%D0%BD%D0%B0-131817082.jpg"
                         height="300" width="900" alt="">
                </p>
                <br>
                <p>
                    Установкой антивирусов DBA не занимается — это ответственность отдела ИТ-поддержки, но не
                    администратора баз данных. В небольших компаниях это делает системный администратор. Но в таком
                    случае должности DBA, скорее всего, вообще не будет, все будет делать сисадмин.
                </p>
                <br>
                <p>
                    В целях защиты информации администратор БД выполняет резервное копирование данных, составляя и
                    выполняя его график. Оно должно быть проведено так, чтобы потом в экстренном случае была возможность
                    быстрого восстановления данных.
                    Результаты работы администратора базы данных вы можете увидеть при любом обращении к данным:
                    банально, даже когда вводите запрос в Google или Yandex, когда на Avito ищите автомобиль с
                    определенными параметрами, и так далее. Все эти базы поддерживаются DBA.
                </p>
            </div>
            <div>
                <h1>Обязанности</h1>
                <p>
                    Каждая компания может добавлять в зону ответственности администратора БД разные задачи, чаще всего
                    это задачи системного администратора. Например, управление инфраструктурой, на которой развернута
                    база, закупка оборудования и так далее. Но если бизнес компании требует высокой доступности этих
                    данных, аккуратности в их хранении и минимизации ошибок, то в сферу ответственности администратора
                    баз данных будет входить только обслуживание БД.
                    Обслуживание базы данных — это не только установка и настройка базы на сервере. Задача инженера —
                    обеспечивать высокую скорость обработки обращений к данным. А так как состав данных и способы
                    обращения к ним постоянно меняются благодаря работе команды разработки, да и в целом постоянной
                    эволюции данных во всем мире, то и работа для DBA не заканчивается никогда.
                </p>
                <p class="w-full">
                    <img src="https://gbcdn.mrgcdn.ru/uploads/post/881/og_cover_image/92fe3500d2ba0153671fba31a445eed6"
                         alt="">
                </p>
                <br>
                <p>
                    В своей работе DBA часто близко взаимодействуют с разработчиками ПО, которые вносят изменения в
                    структуру и состав данных. Если в компании на базу данных возложены и логические функции, что часто
                    бывает с Oracle базами, то, скорее всего, самыми близкими коллегами для DBA будут DBD (Database
                    Developer). Администратор БД дает свои рекомендации отделу разработки для построения оптимальных
                    запросов к базе.
                </p>
                <br>
                <p>
                    С развитием ИТ-технологий, кроме Oracle и MS SQL, на рынке появились также и другие типы БД, так
                    называемые NoSQL базы. Уже сейчас они широко используются для хранения больших данных (big data) и
                    построения крупных отказоустойчивых систем в технологичных компаниях. В то время как такие
                    корпоративные гиганты, как Oracle и MS SQL, по большей части популярны в крупных устоявшихся на
                    рынке компаниях, таких как банки, добыча нефти и газа и так далее, для которых гонка за новыми
                    технологиями не в приоритете.
                </p>
                <br>
                <p>
                    На сопровождение NoSQL баз очень высокий спрос, а так как технологии новые, то и специалистов пока
                    на рынке мало.
                </p>
                <br>
                <p>
                    На обязанности администраторов баз данных также повлиял всеобщий тренд по миграции в облачные
                    сервисы, где часть их работы уже автоматизирована либо требует минимальных трудозатрат. Но вопреки
                    ожиданиям некоторых инженеров, профессия Database Administrator не только не стала исчезающей, а
                    наоборот, набирает популярность в свете мировой заинтересованности в сборе все большего количества
                    данных. Эти изменения трансформируют DBA в экспертов данных, которые будут объединять все данные
                    компании из разных систем в единый источник структурированной информации.
                </p>
            </div>
            <div>
                <h1>Обучение на администратора базы данных</h1>
                <p>Чтобы работать администратором базы данных, желательно иметь высшее техническое образование.
                    Кроме того, сейчас есть курсы обучения именно управлению базами данных, на которых можно получить
                    международный сертификат, который добавляет веса резюме при поиске работы.</p>
                <br>
                <p>
                    Как правило, фундаментальные знания для специальности «администратор баз данных» будущие инженеры
                    получают в технических вузах. Есть институты с кафедрами, которые целенаправленно обучают работе с
                    данными. После окончания такого учебного заведения устроиться на работу, скорее всего, не составит
                    труда. Если же вуз не предоставляет углубленного изучения построения БД, то придется пройти
                    дополнительный курс, например онлайн.
                </p>
                <br>
                <p>
                    Примеры направлений, подходящих для обучения в вузе на администратора баз данных:

                <ul>
                    <li>«Математическое обеспечение и администрирование информационных систем» 02.03.03. Профили:
                        <ul>
                            <li>«Информационные системы и базы данных» (СПбПУ, МГППУ, ГУАП, ОмГТУ, КемГУ, КНИТУ и другие
                                вузы);
                            </li>
                            <li>«Разработка баз данных и интернет-приложений» (БФУ им. Канта);</li>
                            <li>«Технологии программирования и анализа больших данных» (ТюмГУ).</li>
                        </ul>
                    </li>
                    <li>
                        «Прикладная информатика» 09.03.03. Профиль:
                        <ul>
                            <li>«Прикладная информатика в области обработки данных» (ННГУ им. Лобачевского, ОГУ им.
                                Тургенева).
                            </li>
                            <li>«Прикладная информатика» (УРФУ им. первого Президента России Б. Н. Ельцина).</li>
                        </ul>
                    </li>
                </ul>
                </p>
            </div>
            <h1>Что есть у администратора баз данных?</h1>
            <div class="d-flex text-center pros-cons">
                <div>
                    <h1><i class="fa-solid fa-plus"></i></h1>
                    <p>
                    <ol>
                        <li>Высокая зарплата. Даже новички в профессии получают неплохую ставку, по сравнению с другими
                            вакансиями
                        </li>
                        <li>Востребованность профессии. Есть возможность работать в крупных компаниях с перспективой
                            продвижения по карьерной лестнице до руководящей должности
                        </li>
                        <li>Для устройства на работу необязательно наличие высшего образования, достаточно среднего или
                            окончания специальных курсов
                        </li>
                        <li>Возможность работы на удаленке</li>
                    </ol>
                    </p>
                </div>
                <div>
                    <h1><i class="fa-solid fa-minus"></i></h1>
                    <p>
                    <ol>
                        <li>Ненормированный рабочий график. Часто возникает необходимость оперативно устранить
                            неполадки, выйти на работу во время отпуска или выходных
                        </li>
                        <li>Представителям этой профессии приходится много часов проводить за компьютером, что часто
                            становится причиной снижения зрения. Кроме того, большую часть времени, они проводят в
                            сидячем положении, что негативно сказывается на опорно-двигательной системе.
                            Возможна работа ночью, что также отрицательно влияет на состоянии организма
                        </li>
                        <li>
                            Высокая степень ответственности за сохранность сведений предприятия. Ошибка администратора
                            обернется серьезным сбоем в работе базы, что отразится на деятельности компании
                        </li>
                    </ol>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<footer>
    <div class="copyright page-footer font-small">
        © Поликарпов Владислав Александрович РИ-210930 2023
    </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"
        integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD"
        crossorigin="anonymous"></script>
</body>
</html>